@import 'components/header';
@import 'components/hero';
@import 'components/section-one';
@import 'components/section-two';
@import 'components/section-three';
@import 'components/section-four';
@import 'components/section-five';
@import 'components/section-six';
@import 'components/section-seven';
@import 'components/section-eight';
@import 'components/section-nine';
@import 'components/footer';


body {
    font-family: 'Montserrat';
    scroll-behavior: smooth;

    h1 {
        letter-spacing: 2px;
    }

    h2 {
        letter-spacing: 2px;
    }

    h3 {
        letter-spacing: 2px;
    }

    h4 {
        letter-spacing: 2px;
    }

    h5 {
        letter-spacing: 2px;
    }

    h6 {
        letter-spacing: 2px;
    }
}