@import '../base/mixin';
@import '../base/vars';

main{
    .section-three{
        .flex-box{
            @include flex-box;
        }
        .left{
            width: 60%;
            padding: 49px 50px;
            border-bottom: 2px solid $borderGray;
            .row{
                .col{
                    text-align: left;
                    padding-left: 30px;
                    .top{
                        padding-top: 10px;
                        img{
                            width: 60px;
                            margin-bottom: 10px;
                        }
                        .main-p{
                            display: inline-block;
                            font-weight: bold;
                            font-size: 18px;
                            padding: 20px 0px 0px 20px ;
                        }
                    }

                    .bottom{
                        margin-top: 20px;
                        p{
                            font-size: 15px;
                            padding-bottom: 10px;
                        }
                    }
                    &:nth-child(1){
                        border-bottom: 2px solid $borderGray;
                        
                        margin: 10px;
                    }
                    &:nth-child(2){
                        border-bottom: 2px solid $borderGray;
                        margin: 10px;
                    }
                    
                }
            }
        }
        .right{
            width: 40%;
            border-bottom: 2px solid $borderGray;
            img{
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 390px){
    main{
        .section-three{
            .flex-box{
                display: block;
                .left{
                    width: 100%;
                    padding: 0px;
                    .row{
                        display: block;
                        width: 90%;
                        margin: 0 auto;
                        .col{
                            text-align: center;
                            padding: 0px;
                            margin: 0px;
                            .main-p{
                                padding: 0px;
                                margin-top: 20px;
                            }
                            img{
                                display: block;
                                margin: 0 auto;
                                margin-top: 20px;
                            }
                        }
                    }
                }
                .right{
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}